<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EmployeeContainer" connectionString="metadata=res://*/Employee.csdl|res://*/Employee.ssdl|res://*/Employee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Employees;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="EmployeeApp.Service.IEmployeeService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:63016/EmployeeApp.Service/EmployeeService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="" binding="basicHttpBinding" contract="EmployeeApp.Service.IEmployeeService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StructureMapServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment 
          <serviceMetadata httpGetEnabled="true"/>-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information
          <serviceDebug includeExceptionDetailInFaults="false"/> -->
           
          <!--<StructureMapServiceBehavior />-->
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="StructureMapServiceBehavior"
             type="Services.StructureMapServiceBehavior, Services, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
